.row {
    --bs-gutter-x: 0.25rem;
}

.form-group label {
    font-size: 14px;
    font-weight: bold;
}

.form-check {
    margin: 0 0.5rem;
}

.images-references {
    display: flex;
}

.images-references .item {
    margin: 10px;
}

.images-references img {
    height: 3cm;
}

.images-references p {
    text-align: center;
    font-size: 13px;
}

.item {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-bottom: 5px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 18px;
}

textarea {
    resize: none;
}

.header {
    display: flex;
    align-items: center;
}

.header div {
    text-align: center;
}

.logo {
    height: 50px;
}

.header div {
    margin: 0 5px;
}

.logos {
    display: flex;
    flex-direction: row;
}

.logos p {
    font-size: 0.75rem;
}

.page hr {
    margin-top: 0.2rem;
    margin-bottom: 0.75rem;
}

.only-print {
    display: none;
}


@media print {
    @page {
        size: A4;
        margin: 5mm;
        page-break-inside: auto;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .page {
        page-break-before: always;
    }

    .no-print {
        display: none;
    }

    .only-print {
        display: block;
    }
}

@media screen and (max-width: 380px) {
    #title {
        font-size: 1.5rem;
    }

    .header {
        flex-direction: column;
    }
}